<li class="list-group-item">
    <h2>Produit : {{nomProduit}}</h2>
    <h3>Prix : {{prixProduit}} $</h3>
    <br/>
    <br/>
    <h4>Votre distance en KM :</h4>
    <input type="number" class="form-control" [(ngModel)]="distance"/>
    <h4>Prix avec livraison : {{prixTotal}} $</h4>
    <button class="btn btn-success" (click)="onTotalClicked()">Total</button>
    <br/>
    <br/>
    <br/>
    <h4>Veuillez saisir votre numero de carte pour commander</h4>
    <input type="text" class="form-control" [(ngModel)]="numeroCarte"/>
    <button class="btn btn-success" (click)="onCommandClicked()">Commander</button>
    <h4>{{etatPayement}}</h4>
</li>
